/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */
body {
  line-height: 1.5em;
}

header {
  margin-bottom: 4em;
}

.header-container {
  background-image: url("/apple-pie/images/apple-pie.jpg");
  background-size: cover;
  padding: 30% 20%;
}

.content-container {
  padding: 0 10%;
  margin-bottom: 1em;
}
.main-heading {
  color: white;
  font-size: 5em;
  text-align: center;
}

.intro-paragraph {
  margin-bottom: 2em;
  font-size: 1.3em;
}

.recipe-info-img,
.cooking-info-img {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.sub-heading {
  margin-bottom: 1em;
}

.ingredient-list {
  list-style-type: "- ";
}

.direction-list li::marker {
  content: counter(list-item) ") "
}

.ingredient-list,
.direction-list {
  position: relative;
  left: 5%;
  margin-bottom: 2em;
}

.divider {
  width: 80%;
  margin-bottom: 2em;
}